<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.transit.trans_it" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
>            <!--android:screenOrientation="portrait"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
>            <!--android:screenOrientation="portrait"> -->
            <intent-filter>
                <action android:name="com.capstone.transit.trans_it.MAINMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/app_name"
>            <!--android:screenOrientation="portrait"> -->
            <intent-filter>
                <action android:name="com.capstone.transit.trans_it.MAPACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".FetchTimesService"
            android:exported="false" >
        </service>

        <activity
            android:name=".StopListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

>            <!--android:screenOrientation="portrait"> -->
            <!--android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capstone.transit.trans_it.MainMenu" /> -->
            <intent-filter>
                <action android:name="com.capstone.transit.trans_it.StopListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TripPlannerActivity"
            android:label="@string/app_name"
>            <!--android:screenOrientation="portrait"> -->
            <intent-filter>
                <action android:name="com.capstone.transit.trans_it.TRIPPLANNERACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TripDisplayActivity"
            android:label="@string/app_name"
>            <!--android:screenOrientation="portrait"> -->
            <intent-filter>
                <action android:name="com.capstone.transit.trans_it.TRIPDISPLAYACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Settings"
            android:label="@string/app_name"
>            <!--android:screenOrientation="portrait"> -->
            <!--android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.capstone.transit.trans_it.MainMenu" />
            -->
            <intent-filter>
                <action android:name="com.capstone.transit.trans_it.Settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FavoritesActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainMenu" />
            <intent-filter>
                <action android:name="com.capstone.transit.trans_it.FavoritesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
